.search-bar-contain {
  background-color: rgb(26, 26, 27) !important;
}

.search-contain {
  padding-top: 20px;
}

.input-search {
  background-color: rgb(39, 39, 41) !important;
  color: #f1f1f1 !important;
}